#Mix{
    padding-left: 35px;
}
.previwGaleryContainer{
    padding-left: 35px;
    padding-top: 30px;
}

h1, h2{
    /* DESTINATION DETAILS */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #394149;
}

.smallPhoto{
    width: 150px;
    height: 150px;
    border-radius:20px;
}

.smallPhoto img{
    width: 100%;
    object-fit: contain;
    
}


.smallPhoto:hover{
    transition: all 1s;
  transform: scale3d(1.05, 1,1);
}

.bigPhoto{
    width: 720px;
    height: 215px;
    max-height: 215px;
    border-radius:20px;
}
.bigPhoto img{
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius:20px;
    
}

.info-container{
    background-color: #eee9d2;
    height: 65px;
    padding-right: 70px;
    border-radius: 20px;
    padding-left: 10px;
    align-self: center;
    margin-top:20px;
    margin-right:15px
}

.info-container img{
    width: 34px;
    height: 30px;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
}

.info-container .small-title{
    /* Currencies */
    height: 17px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #000000;

    mix-blend-mode: normal;
    opacity: 0.5;
    line-height: 2;

}


.info-container .small-description{
    /* USD, GBP, EURO */
    height: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #000000;
    line-height: 0px;
}

.meteo img{
    width:1278px;
    max-width: 1278px;
    height: 190px;
    border-radius: 40px;
    margin-top:20px;

}

/* Container principal */
.rating-container {
    margin-left: 30px;
    margin-top:20px;
    width: 378px;
    height: 167px;
    background: linear-gradient(10deg, #FFC502, #FFFFFF);
    border-radius: 50px;
    padding: 20px;
    box-shadow: gray 1px 2px 1px;
  }
  

  .rating-container .icon{
    width: 40px;
    height: 40px;
    left: 1007px;
    top: 580px;


  }
  .rating-title{
    width: 132px;
    height: 22px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 509;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #025F80;
    padding-right: 20px;
  }


  .rating-score{
    /* 4.3/5 */
    width: 123px;
    height: 59px;
    padding-left: 12px;
    padding-top: 6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    /* identical to box height */
    text-align: right;
    color: #025F80;
  }


.sub-ratings-cotainer{

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10;
    width: 348px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-top:10px

}

.rating-item{
    padding-left: 40px;
    padding-top:10px;
    
}

.rating-iten-icon{
    padding-right: 10px;
    padding-bottom: 10px;
}

.rating-iten-note{
    padding-right: 30px;
    padding-right: 30px;
  color: white;
  font-weight: 800;

}

h3{
    /* DESTINATION DETAILS */
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 29px;
color: #394149;


}
h4{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 29px;
    color: #394149;
}

.explore-more{
    width:165px;
    margin-right: 20px;
    margin-top:10px
}
.explore-more article{
    width:165px;
    height: 112px;
    border:0.5px solid rgb(205, 205, 205);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.explore-more article img{
    max-width: 100px;
    width: 100px;
    height: 70px;
    max-height: 70px;
    object-fit: contain;
}

.expore-more-title{
  /* Culture */
/* Culture */
font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 20px;
text-align: center;
color: #394149;
margin-top: 10px;
}