.css-1umw9bq-MuiSvgIcon-root {
    font-size: 19px;
    color:#9fa6ad
  }


  .css-1lwhjos-MuiPaper-root-MuiDrawer-paper{
    background-color:#0b0d0e
  }

  li p.css-ff7dcq-JoyTypography-root{
    color:#9fa6ad;
  }

  .css-1uw6cuk-MuiListItem-root{
    margin-bottom:50px
  }

  li.MuiListItem-root {
    margin-bottom: 30px;
  }